@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
body{
  padding: 0;
  margin: 0;
  background-color: rgb(26, 25, 25);
  font-family: "Outfit", system-ui;
  overflow-x: hidden;
}

.container{
  padding: 0 100px;
  position: relative;
}

.btn{
  border-radius: 30px;
  background: linear-gradient(rgb(184, 52, 160),50%,rgb(204, 142, 25));
  border-style: none;
  outline: none;
  padding: 13px 18px;
  font-size: 14px;
  color: #fff;
  transition: 0.7s;
}
.heading{
  max-width: 210px;
  font-size: 35px;
  color: #fff;
  margin: 40px auto;
  padding-top: 20px;
}
.btn:hover{
  scale: 1.15;
}